// filepath: hinayon-imo/resources/sass/app.scss
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import '_variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Feature styles (import partials without extension)
@import './login.scss';
@import 'student-portal';
@import 'advisor';
@import 'admin';
